@import url('https://fonts.googleapis.com/css2?family=Cascadia+Mono:ital,wght@0,200..700;1,200..700&family=Roboto+Slab:wght@100..900&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Cascadia Mono", sans-serif;
  /* font-family: "Roboto Slab", serif; */
}